<!DOCTYPE html>
<html>
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

  <main>
    <div class="login-box">
      <br>
         <p><b>Sign Up to MEAN Shop Account</b></p>
         <br>
         <span class="input-icon" ><i class="icon_profile"></i></span><hr>
               <form class="signup-form" action="/user/api/v1/newuser/create" method="post">
        <div class="input-block">
          <p>First Name:</p>
          <input class="input-box" type="text" name="firstName" placeholder="First Name" autofocus required/>
        </div>
        <div class="input-block">
          <p>Last Name:</p>
          <input class="input-box" type="text" name="lastName" placeholder="Last Name" required/>
        </div>
        <div class="input-block">
          <p>Email:</p>
          <input class="input-box" type="email" name="email" placeholder="Email" required/>
        </div>
        <div class="input-block">
          <p>Password:</p>
          <input class="input-box" type="password" name="password" placeholder="Password" required/>
        </div>
        <div class="input-block">
          <p>Type of Customer:</p>
          <select class="input-box" name="typeofcustomer">
            <option value=" employee of the store?"> employee of the store?</option>
            <option value="affiliate of the store?">affiliate of the store?</option>
            <option value="customer for over 2 years?">customer for over 2 years?</option>
            
          </select>
        </div>
        <div class="input-block">
          <p>type of customer Answer:</p>
          <input class="input-box" type="text" name="typeofcustomerAnswer" placeholder="type of customer Answer" required/>
        </div>
        <div class="input-block">
          <p>Contact:</p>
          <input class="input-box" type="number" name="contact" placeholder="Contact" required/>
        </div>
        <div class="input-block">
          <p>House Number:</p>
          <input class="input-box" type="text" name="houseNo" placeholder="House Number" required/>
        </div>
        <div class="input-block">
          <p>City:</p>
          <input class="input-box" type="text" name="city" placeholder="City" required/>
        </div>
        <div class="input-block">
          <p>State:</p>
          <input class="input-box" type="text" name="state" placeholder="State" required/>
        </div>
        <div class="input-block">
          <p>Country:</p>
          <input class="input-box" type="text" name="country" placeholder="Country" required/>
        </div>
        <div class="input-block">
          <p>Pin Code:</p>
          <input class="input-box" type="text" name="pinCode" placeholder="Pin Code" required/>
        </div>
        <div class="input-block">
          <p>Land Mark:</p>
          <input class="input-box" type="text" name="landMark" placeholder="Land Mark" required/>
        </div><br>
        <button class="btn btn-primary btn-block" type="submit" name="submit">Signup</button><br>
        <p><b>Have an account?</b> </p>
        <a href="/user/login"  class="btn btn-danger btn-md btn-block"><b>Log In Here</b></a><br>
      </form>
    </div>
  </main>

  <% include ./parts/footer.ejs %>
</body>
</html>
